version: "2"

services:

  front:
    build: ./myApp/
    expose:
      - 3000
    labels:
      traefik.enable: true
      traefik.docker.network: traefik_default
      traefik.http.routers.private-voting-app.rule: Host(`private-voting.pscott.me`)
      traefik.http.routers.private-voting-app.port: 3000
      traefik.http.routers.private-voting-app.entrypoints: https
      traefik.http.routers.private-voting-app.tls: true
      traefik.http.routers.private-voting-app.tls.certresolver: httpchallenge

  local:
    build: ./local/
    expose:
      - 4242
    labels:
      traefik.enable: true
      traefik.docker.network: traefik_default
      traefik.http.routers.private-voting-local.rule: Host(`local.private-voting.pscott.me`)
      traefik.http.routers.private-voting-local.port: 4242
      traefik.http.routers.private-voting-local.entrypoints: https
      traefik.http.routers.private-voting-local.tls: true
      traefik.http.routers.private-voting-local.tls.certresolver: httpchallenge


  server:
    build: ./local/
    expose:
        - 5000
    labels:
      traefik.enable: true
      traefik.docker.network: traefik_default
      traefik.http.routers.private-voting-server.rule: Host(`server.private-voting.pscott.me`)
      traefik.http.routers.private-voting-server.port: 5000
      traefik.http.routers.private-voting-server.entrypoints: https
      traefik.http.routers.private-voting-server.tls: true
      traefik.http.routers.private-voting-server.tls.certresolver: httpchallenge

