version: "2"

services:
  front:
    build: ../myApp/
    expose:
      - 3000
    labels:
      traefik.enable: true
      traefik.docker.network: traefik_default
      traefik.http.routers.private-voting-app.rule: Host(`private-voting.pscott.me`)
      traefik.http.services.private-voting-app.loadbalancer.server.port: 3000
      traefik.http.routers.private-voting-app.entrypoints: https
      traefik.http.routers.private-voting-app.tls: true
      traefik.http.routers.private-voting-app.tls.certresolver: httpchallenge
    environment:
      REACT_APP_LOCAL_SERVER: https://local.private-voting.pscott.me
      REACT_APP_SERVER: https://server.private-voting.pscott.me

  local:
    build: ../local/
    expose:
      - 4242
    labels:
      traefik.enable: true
      traefik.docker.network: traefik_default
      traefik.http.routers.private-voting-local.rule: Host(`local.private-voting.pscott.me`)
      traefik.http.services.private-voting-local.loadbalancer.server.port: 4242
      traefik.http.routers.private-voting-local.entrypoints: https
      traefik.http.routers.private-voting-local.tls: true
      traefik.http.routers.private-voting-local.tls.certresolver: httpchallenge
    environment:
      SERVER: https://server.private-voting.pscott.me

  server:
    build: ../server/
    expose:
      - 5000
    labels:
      traefik.enable: true
      traefik.docker.network: traefik_default
      traefik.http.routers.private-voting-server.rule: Host(`server.private-voting.pscott.me`)
      traefik.http.services.private-voting-server.loadbalancer.server.port: 5000
      traefik.http.routers.private-voting-server.entrypoints: https
      traefik.http.routers.private-voting-server.tls: true
      traefik.http.routers.private-voting-server.tls.certresolver: httpchallenge
