.btn-grad {
  background-image: linear-gradient(
    to right,
    #cc95c0 0%,
    #dbd4b4 51%,
    #cc95c0 100%);
  font-family: "Trebuchet MS";
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;

  &:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
  }
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #e0fbfc;
  box-shadow: 0px 0px 50px 5px rgba(0, 0, 0, 0.2);
  max-width: 400px;
  width: 50%;
  height: 50%;
  border-radius: 20px;
}

body {
  font-family: "Trebuchet MS";
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: #8ec5fc;
  background-image: linear-gradient(62deg, #8ec5fc 0%, #e0c3fc 100%);
}
