.font-xl {
  font-size: 72px;
}

.btn-grad {
  background-image: linear-gradient(
    to right,
    #ff6e7f 0%,
    #bfe9ff 51%,
    #ff6e7f 100%
  );
}

.btn-grad {
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
}

.btn-grad:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.btn-grad2 {
  background-image: linear-gradient(
    to right,
    #cc95c0 0%,
    #dbd4b4 51%,
    #cc95c0 100%
  );
}
.btn-grad2 {
  font-family: "Trebuchet MS";
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
}

.btn-grad2:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #e0fbfc;
  box-shadow: 0px 0px 50px 5px rgba(0, 0, 0, 0.2);
  max-width: 400px;
  width: 50%;
  height: 50%;
  border-radius: 20px;
}

.header {
  background: #e0fbfc;
  box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.2);
  max-width: 400px;
  min-width: 400px;
  height: 32px;
  border-radius: 40px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.header-text {
  background: lightsteelblue;
  border-radius: 20px;
  width: 20%;
}

.selected-header {
  background-color: #8ec5fc;
  border-radius: 10px;
  padding: 5px;
}

body {
  font-family: "Trebuchet MS";
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: #8ec5fc;
  background-image: linear-gradient(62deg, #8ec5fc 0%, #e0c3fc 100%);
}
